/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* As칤 definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  body{

    background-image: url('fondooo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
/* Crear columnas de ancho diferente que se colocan una a continuaci칩n de la otra */
@font-face {
  font-family: 'Hobo Std';
  src: url('Hobo Std/hobostd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, a, button {
  font-family: 'Hobo Std', sans-serif; color: #9a2d74;
}
.columna {
float: left;
padding: 10px;
min-height: 500px;
}
.viciz{
  float: left;
  width: 50%;

}

.vicder{
  float: right;
  width: 50%;

}
.izquierda {
background-color: rgba(255, 192, 203, 0.602); 
width: 25%;
}

.derecha {
background-color: rgba(216, 112, 147, 0.645);
width: 75%;
}

.derechaabout {
  width: 75%;
  }
.video {
  text-align: center
  /*width: 50%*/
}

/* Clear floats despues de las columnas para eliminar la superposici칩n */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:rgba(255, 192, 203, 0.803);border-radius: 5%;
}

#c2 {
    background-color:rgba(216, 112, 147, 0.527);border-radius:5%;
    padding: 25px
}

/*PARA EL ABOUT*/

#bodyabout {

  background-image: url('fondo5.jpeg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;


}
.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#botonvic {

  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fond {
  background-color:rgba(255, 192, 203, 0.803);border-radius: 5%;
  padding: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
}

.up {

  height: 50;
}

.down {

  height: 50;
}

#playMusic {

  background-color: rgb(201, 90, 127); border-radius: 10%;
  transform: scale(1.2);
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  text-align: center
}

#playMusic:hover {
  background-color: rgb(239, 136, 171); border-radius: 10%;
  transform: scale(1.3);
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}
ul {
  list-style: none; /* Quita los puntos originales */
}

ul li::before {
  content: "游 "; /* Emoji de huella */
  font-size: 20px; /* Ajusta el tama침o */
  margin-right: 10px; /* Espacio entre el emoji y el texto */
}
/* estilos para im치genes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de im치genes https://www.w3schools.com/css/css_positioning.asp */

#boton {
  transform: scale(1.1);
  background-color: rgb(201, 90, 127);  border-radius: 5%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  margin-top: 20px;
  margin-top: 20px;
}
#boton:hover {
  
  background-color: rgb(239, 136, 171); border-radius: 5%;
  transform: scale(1.2);
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;

  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* As칤 conseguimos que el contenido se vea bien en dispositvos m칩viles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }

    body{

    background-image: url('fonomovil1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }

  #bodyabout {

    background-image: url('fondomovil2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  
  
  }
}

/* M치s sobre dise침o web responsive https://www.w3schools.com/css/css_rwd_intro.asp */