@font-face {
  font-family: 'Upheaval';
  src: url('upheavtt.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  background-image: url('fondo1_p3.jpeg');
  background-size: cover; /* Que el fondo llene toda la pantalla */
  background-position: center;
  font-family: 'Upheaval', sans-serif;
}


 /*crear clase defeat en js*/
#gameCanvas.defeat {
  box-shadow: 0 0 30px red;
}
#gameCanvas.flash-border {
  box-shadow: 0 0 60px 20px orange !important;
}
#gameCanvas {
  border: 2px solid rgba(255, 255, 255, 0.282);
  image-rendering: pixelated; /* si usas gráficos pixelados */
  box-shadow: 0 0 20px #0f0;  /* efecto glow alienígena */ 
  /*cambiar a si hay derrota rojo y parpadear si hay disparo (idea opcional)*/
  transition: box-shadow 0.3s ease; /*PRUEBA*/
}

